<div id="module" class="container-fluid">
    <div class="row row-block">
        <div class="col-md-2 fixed-top navigation-list collapse navbar-collapse" id="module-nav">
            <ul class="list-group">
                <li class="list-group-item navigation-list-title">
                  <a class="navbar-brand workshopName" href="#">Kubernetes on AWS</a>
                </li>
                <li class="list-group-item nav-item" v-for="(mod, index) in workshop.modules">
                    <a v-bind:href="'#/workshop/' + workshop.id + '/module/' + mod" v-if="module != mod" class="mark-as-done" v-bind:class="{doneModule: doneModules.indexOf(mod) > -1}">{{ modules[mod].name }}</a>
                    <span v-if="module == mod">{{ modules[module].name }}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-9 content-box">
            <div class="col-sm-12" id="breadcrumbs">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="#/">Workshops</a>
                    <a class="breadcrumb-item" v-bind:href="'#/workshop/' + workshop.id">{{ workshop.name }}</a>
                    <span class="breadcrumb-item active">{{ modules[module].name }}</span>
                </nav>
              </div>
              <div class="col-sm-12">
                <div class="card">
                    <div class="card-block" style="padding: 1.5rem; padding-top: 0.9rem;">
                        <div class="module-id badge badge-default">{{ currentModule }}</div>
                        <p class="card-text" v-html="content"></p>
                        <a v-bind:href="'#/workshop/' + workshop.id + '/module/' + prevModule" v-if="prevModule != null" class="btn btn-primary"> Go to previous module</a>
                        <a v-bind:href="'#/workshop/' + workshop.id + '/module/' + nextModule" v-if="nextModule != null" class="btn btn-primary mark-as-done">Go to next module</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
